body {
    background-color: #333;
    color: #FFD700;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
}

.trophy {
    font-size: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn, .back-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2em;
    color: #222;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover, .back-btn:hover {
    background-color: #DAA520;
}

form {
    display: inline-block;
    margin-bottom: 20px;
}
