* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #3a7ca5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    background-color: #1f4f77;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.main {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tenista-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    font-size: large;
    margin: 30px auto 10px;
}

.tenista-info h1 {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    margin-left: 10px;
}

.value {
    margin-left: 10px;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1f4f77;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.back-btn:hover {
    background-color: #3a7ca5;
}

.footer {
    background-color: #1f4f77;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 12vh;
    font-size: large;
}
