<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandSlam-Hub 2024</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/tenistas">Todos los Tenistas</a></li>
            <li><a href="/torneos">Todos los Torneos</a></li>
            <li><a href="/historial">Historial de Torneos</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>GrandSlam-Hub 2024</h1>
        <div class="search-container">
            <input type="text" id="tenistaInput" placeholder="Buscar jugador...">
            <button id="submitBtn">Buscar</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='/crear-jugador'">Crear Nuevo Jugador</button>
            <button onclick="window.location.href='/crear-torneo'">Crear Nuevo Torneo</button>
            <button onclick="window.location.href='/crear-historial-torneo'">Agregar Torneo al Historial</button>
            <button onclick="window.location.href='/simular_torneo'">Simular Nuevo Torneo</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 GrandSlam-Hub. Todos los derechos reservados. Prohibida la reproducción total o parcial sin autorización.</p>
    </footer>
    <script src="../static/js/home.js"></script>
</body>
</html>
