<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Torneos</title>
    <link rel="stylesheet" href="/static/css/listas.css">
</head>
<body>
    <header>
        <h1>GrandSlam-Hub</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/tenistas">Todos los Tenistas</a>
        <a href="/torneos">Todos los Torneos</a>
        <a href="/historial">Historial de Torneos</a>
    </nav>
    <div class="container">
        <h2>Lista de Torneos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Superficie</th>
                    <th>Cantidad de jugadores</th>
                </tr>
            </thead>
            <tbody id="lista_torneos">
            </tbody>
        </table>
    </div>
    <footer>
        <p>GrandSlam-Hub &copy; 2024. Todos los derechos reservados.</p>
    </footer>

    <script src="../static/js/lista_torneos.js"></script>
</body>
</html>
