<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Tenista</title>
    <link rel="stylesheet" href="../static/css/mostrar_tenista.css">
</head>
<body>
    <header>
            <nav class="navbar">
                <div class="container">
                    <ul>
                        <li><a href="/tenistas">Todos los Tenistas</a></li>
                        <li><a href="/torneos">Todos los Torneos</a></li>
                        <li><a href="/historial">Historial de Torneos</a></li>
                    </ul>
                </div>

        </nav>
    </header>

    <main class="container">
        <article class="tenista-info">
            <h1>Información del Tenista</h1>
            <p class="info">
                <span class="label">Nombre:</span>
                <span class="value">{{ tenista.nombre_tenista }}</span>
            </p>
            <p class="info">
                <span class="label">Puntuación Global:</span>
                <span class="value">{{ tenista.puntuacion_global }}</span>
            </p>
            <p class="info">
                <span class="label">Superficie Preferida:</span>
                <span class="value">{{ tenista.superficie_preferida }}</span>
            </p>
            <p class="info">
                <span class="label">Nacionalidad:</span>
                <span class="value">{{ tenista.nacionalidad }}</span>
            </p>
            <p class="info">
                <span class="label">Altura:</span>
                <span class="value">{{ tenista.altura_cm }} cm</span>
            </p>
            <p class="info">
                <span class="label">Peso:</span>
                <span class="value">{{ tenista.peso_kg }} kg</span>
            </p>
            <p class="info">
                <span class="label">Cantidad de Torneos Ganados:</span>
                <span class="value">{{ tenista.cant_torneos_ganados }}</span>
            </p>
        </article>
        <a href="/" class="back-btn">Volver a la Página Principal</a>
    </main>

    <footer class="footer">
        <p>&copy; 2024 GrandSlam-Hub. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
